{% extends 'base.html' %}

{% block content %}
<h2>My Complaints</h2>

{% for c in complaints %}
<div class="card">
    <h3>{{ c.title }}</h3>
    <p>{{ c.description }}</p>
    <p>
        Status:
        {% if c.status == 'Pending' %}
        <span class="status-pending">Pending</span>
        {% else %}
        <span class="status-solved">Solved</span>
        {% endif %}
    </p>
    <small>Submitted on: {{ c.created_at }}</small>
</div>
{% empty %}
<p>No complaints submitted yet.</p>
{% endfor %}

{% endblock %}